/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: #333;
}

.link{
  color: #3498db;
  text-decoration: none;
  /* /* margin: 20px; */
  padding: 20px; */
}


button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #2980b9;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  /* padding: 10px; */
  align-items: center;
}


.navbar{
  margin: 20px;
  padding: 10px;
}

.linkedin,.github{
  text-decoration: none;
  color: black;
}

.name{
  text-align: center;
}